@echo off

:: The address to the Symphony Agent API and Key Manager endpoints prefix (see -Dsessionauth.url, -Dkeyauth.url, -Dpod.url and -Dagent.url below)
SET FOUNDATION_API_URL=https://foundation-dev-api.symphony.com

:: The address to the Symphony Pod endpoint prefix (see -Dpod.url below)
SET FOUNDATION_POD_URL=https://foundation-dev.symphony.com

:: This is specific for foundation-dev.symphony.com endpoint configuration
:: Your pod setup may be different (in ports, hosts and URL paths)
SET SESSIONAUTH_URL=%FOUNDATION_API_URL%/sessionauth
SET KEYAUTH_URL=%FOUNDATION_API_URL%/keyauth
SET POD_URL=%FOUNDATION_POD_URL%/pod
SET AGENT_URL=%FOUNDATION_POD_URL%/agent

:::::
:: Sensible data
:: Please use encryption to use these environment variables on CI environments
:: Start
:::::

:: Trusts all *.symphony.com Symphony Pods
SET TRUSTSTORE_FILE=./certs/server.truststore
SET TRUSTSTORE_PASSWORD=changeit

:: Used by all bots as Symphony Service Account
SET BOT_USER_EMAIL=bot@mycompany.com
SET BOT_USER_CERT_FILE=./certs/bot.p12
SET BOT_USER_CERT_PASSWORD=changeit

:: Used by HelloWorldBot to identify Symphony user that receives the message
SET RECEIVER_USER_EMAIL=receiver@mycompany.com

:: Used by EchoBotIT (src/test/java/..)
SET SENDER_USER_EMAIL=sender@mycompany.com
SET SENDER_USER_CERT_FILE=./certs/sender.p12
SET SENDER_USER_CERT_PASSWORD=changeit

:::::
: Sensible data
: End
:::::

:: Used by RssBot to identify RSS feed source
SET RSS_URL=https://twitrss.me/twitter_user_to_rss/?user=symphonyoss
SET RSS_LIMIT=3

:: For Debugging
:: Uncomment Following Lines
echo %SESSIONAUTH_URL%
echo %KEYAUTH_URL%
echo %POD_URL%
echo %AGENT_URL%
:: Stop Uncommenting

IF "%BOT_USER_CERT_PATH%"=="" (echo Bot cert file is missing: $BOT_USER_CERT_PATH) ELSE (echo Found bot cert file $BOT_USER_CERT_PATH - %BOT_USER_CERT_PATH%)
IF "%TRUSTSTORE_FILE%"=="" (echo truststore file is missing: $TRUSTSTORE_FILE)  ELSE (echo Found truststore file $TRUSTSTORE_FILE - %TRUSTSTORE_FILE%)

pause