#!/bin/sh

# The address to the Symphony Agent API and Key Manager endpoints prefix (see -Dsessionauth.url, -Dkeyauth.url, -Dpod.url and -Dagent.url below)
FOUNDATION_API_URL=https://foundation-dev-api.symphony.com

# The address to the Symphony Pod endpoint prefix (see -Dpod.url below)
FOUNDATION_POD_URL=https://foundation-dev.symphony.com

export SESSIONAUTH_URL=$FOUNDATION_API_URL/sessionauth \
export KEYAUTH_URL=$FOUNDATION_API_URL/keyauth \
export POD_URL=$FOUNDATION_POD_URL/pod \
export AGENT_URL=$FOUNDATION_API_URL/agent \

export BOT_USER_CERT_FILE=./certs/userbot.p12
export BOT_USER_CERT_PASSWORD=changeit
export TRUSTSTORE_FILE=./certs/server.truststore
export TRUSTSTORE_PASSWORD=changeit

export BOT_USER_EMAIL=userbot@mycompany.com
export RECEIVER_USER_EMAIL=receiver@mycompany.com

export RSS_URL=https://twitrss.me/twitter_user_to_rss/?user=symphonyoss
export RSS_LIMIT=3


if [ -z "$1" ]; then
  echo "Please run one of the following commands:"
  echo "./run-bot.sh org.symphonyoss.simplebot.HelloWorldBot"
  echo "./run-bot.sh org.symphonyoss.simplebot.EchoBot"
  echo "./run-bot.sh org.symphonyoss.simplebot.StockInfoBot"
  echo "./run-bot.sh org.symphonyoss.simplebot.RssBot"
  exit -1
fi

if [ -f $BOT_USER_CERT_PATH ]; then
  echo "Found bot cert file $BOT_USER_CERT_PATH"
else
  echo "Bot cert file is missing: $BOT_USER_CERT_PATH"
fi

if [ -f $TRUSTSTORE_FILE ]; then
  echo "Found truststore file $TRUSTSTORE_FILE"
else
  echo "truststore file is missing: $TRUSTSTORE_FILE"
fi

cd target/symphony-java-sample-bots-0.9.0-SNAPSHOT
./bin/RunBot $1